[submodule "SeruroClientWin/frameworks/boost"]
	path = SeruroClientWin/frameworks/boost
	url = https://github.com/seruro/seruro-boost.git
[submodule "SeruroClientWin/src"]
	path = SeruroClientWin/src
	url = https://github.com/seruro/seruro-client.git
[submodule "SeruroClientWin/frameworks/wxwidgets"]
	path = SeruroClientWin/frameworks/wxwidgets
	url = https://github.com/seruro/seruro-wxwidgets.git
